input{
    color: white;
    background-color: transparent;
    border-radius: 10px;
    width: 130px;
}
.material-symbols-outlined {
    cursor: pointer;
    margin: 3px;
    position: relative;
    top:4px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.cat-txt{
    text-align: center;
    display: inline;
    font-size: 30px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
}
.category-txt{
    display: inline;
    background-color: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 20%;
        left: 0;
        width: 200px;
        height: 100%;
        border-right: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;    
}
.input-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 600px) {
    .category-txt{
        background: black;
      display: none;
    }

  }