input{
    color: black;
    background-color: transparent;
    border-radius: 10px;
    width: 130px;
}
.material-symbols-outlined {
    cursor: pointer;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.cat-txt{
text-transform: capitalize;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    text-align: center;
    display: inline;
    font-size: 15px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
}
.category-txt{
        display: inline;
        background-color: gray;
        position: fixed;
        top: 15%;
        left: 0;
        width: 190px;
        height: auto;
        border-right: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;    
        border-radius: 10px;
}
.input-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

input::placeholder{
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
}
.category-txt button{

    font-family: sans-serif;
    font-weight: bold;
  background: gray;
    font-size: 15px;
    color: white;
    display: inline;
    border-radius: 10px;
    cursor: pointer;
}
.del-cl{
  float: right;
}
@media (max-width: 800px) {
    .category-txt{
        background: gray;
      display: none;
      position: absolute;
      top: 10%;

    }
  }
  