input{
    color: black;
    background-color: transparent;
    border-radius: 10px;
    width: 130px;
}
.material-symbols-outlined {
    cursor: pointer;
    margin: 3px;
    position: relative;
    top:4px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.cat-txt{
text-transform: capitalize;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    text-align: center;
    display: inline;
    font-size: 15px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
}
.category-txt{
    display: inline;
    background-color: gray;
        position: absolute;
        top: 27%;
        left: 0;
        width: 190px;
        height: 500px;
        border-right: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;    
}
.input-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

input::placeholder{
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 800px) {
    .category-txt{
        background: gray;
      display: none;
    }

  }