body{
  background: black;
}
h1{
  text-align: center;
  color: white;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
width: 100%;
  }
  
  .news-types {
    font-size: 2vw;
    padding: 1%;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  .news-container{

    text-align: center;
    width:70%;
    height:auto;
    background: gray;
    border-radius: 15px;
  }
  hr{
    border: 2px solid white;
  }
  .news-container a{
    transition: font-size 0.3s ease;
      color:white;
      width:100%;
  }
  .news-container img{
    width: 500px;
    height:300px;
  }
  h2{
    font-size: 35px;
  }
  .author-txt
  {
    text-align: left;
  }
  .ad-container{
    float: right;
  }
  @media only screen and (max-width: 768px) {
    .news-types {
      font-size: 3.5vw;
    }
    h2{
      font-size: 25px;
    }
    .news-container{
      padding-left: 50px;
      width: 100%;
    }
    .news-container img{
      width: 100%;
      height:300px;
    }
  }