body{
  color: white;
}

.sidebar {
visibility: hidden;

  width:190px;
  position: absolute;
  top: 5%;
  left: 0;
  color: black;
}


.sidebar a:hover {
  color: #f1f1f1;
}
.mobile-sidebar{
  position: fixed;
  margin: 3px;
  top:15%;
  color:white;
}
.cancel-cl{

  color: white;
  background: none;
  display: inline;
  float: right;
}

@media (max-width: 800px) 
{
  .sidebar{

    display: none;
  }
  .mobile-sidebar{
    display: inline;
    position: absolute;
    top:10%;
    bottom: 0;
  }
  .material-symbols-outlined {
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.cancel-cl{
  background: none;
  visibility: hidden;
  float: right;
}
.menu-cl{
  position: fixed;
    margin: 3px;
    top:10%;
    color:white;
}
}